:root {
    --success-color: rgb(0, 128, 0);
    --warning-color: rgb(255, 165, 0);
    --error-color: rgb(255, 0, 0);
    --success-light: rgba(0, 128, 0, 0.4);
    --warning-light: rgba(255, 165, 0, 0.4);
    --error-light: rgba(255, 0, 0, 0.4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins';
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 20px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
}

.btn.success {
    background-color: var(--success-color);
}
.btn.warning {
    background-color: var(--warning-color);
}
.btn.error {
    background-color: var(--error-color);
}

#toast-wrapper {
    position: fixed;
    top: 0;
    right: 20px;
}

.toast {
    padding: 10px 20px;
    width: 350px;
    height: 70px;
    border-radius: 5px;
    border-left: 4px solid var(--success-color);
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: #fff;
    position: relative;
    animation: show 0.7s linear forwards;
    transition: 0.3s;
}

.toast--icon {
    font-size: 25px;
    margin-right: 10px;
}

.toast .timer {
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    animation: timer 2s linear forwards;
}

.toast.success {
    background-color: var(--success-light);
    border-color: var(--success-color);
}
.toast.warning {
    background-color: var(--warning-light);
    border-color: var(--warning-color);
}
.toast.error {
    background-color: var(--error-light);
    border-color: var(--error-color);
}
.toast.success .timer {
    background-color: var(--success-color);
}
.toast.warning .timer {
    background-color: var(--warning-color);
}
.toast.error .timer {
    background-color: var(--error-color);
}

@keyframes timer {
    from {width: 100%;}
    to {width: 0%;}
}

@keyframes show {
    0% {transform: translateX(100%);}
    50% {transform: translateX(-5%);}
    75% {transform: translateX(5%);}
    100% {transform: translateX(0%);}
}

@keyframes hide {
    0% {transform: translateX(0%);}
    50% {transform: translateX(10%);}
    75% {transform: translateX(-10%);}
    100% {transform: translateX(120%);}
}